<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <script type="module" src="{{ url_for('static', filename='comparison.js') }}"></script>
</head>
<body>
  <div class="wrapper">
    <div class="card">
      <h1>Policy Comparisons</h1>
      <!-- <p class="subtitle">
        Enter the website URL and you may alter the date.<br>
        We'll compare yoru dates privacy policy to one week prior.
      </p> -->

      <!-- <div class="input-group">
        <input type="text" id="websiteUrl" placeholder="Enter website URL" />
        <input type="text" id="dateInput" placeholder="YYYY-MM-DD (optional)" />
        <button id="grabButton" class="primary">Grab Snapshots</button>
      </div> -->

        <!-- Display the results -->
        <div class="snapshot-columns">
          <div class="snapshot-box">
            <div class="snapshot-label" id="enteredDateLabel">Summary</div>
              <!-- <ul id="currentSnapshotList" class="snapshot-list"></ul> -->
          </div>
    
        </div>

        <div class="button-row" style="justify-content: center;">
            <a href="{{ url_for('snapshot') }}">
              <button class="primary">Back to Snapshot Page</button>
            </a>

            <a href="{{ url_for('display_text') }}">
                <button class="primary">Back to Privacy Policies</button>
              </a>
        </div>

      <!-- Logout and privacy link finder -->
      <!-- <div class="button-row">
        <button id="logout" class="primary">Logout</button>
        <a href="{{ url_for('privacy_finder') }}">
          <button class="primary">Go to Privacy Link Finder</button>
        </a>
      </div> -->
    </div>
  </div>
</body>
</html>