<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Display Summary Texts</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <script type="module" src="{{ url_for('static', filename='displayText.js') }}"></script>
</head>
<body>
  <div class="wrapper">
    <div class="card">
      <h1>Display Summary Texts</h1>


      <div class="input-group">
        <input type="text" id="currentUrl" placeholder="Enter Current Snapshot URL" />
        <input type="text" id="weekAgoUrl" placeholder="Enter Week Ago Snapshot URL" />
        <button id="fetchButton" class="primary">Fetch Summaries</button>
      </div>

        <!-- Display the results -->
        <div class="snapshot-columns">
          <div class="snapshot-box">
            <div class="snapshot-label" id="enteredDateLabel">Current Policy</div>
          </div>
          <div class="snapshot-box">
            <div class="snapshot-label" id="weekAgoDateLabel">Previous Policy</div>
          </div>
        </div>

        <div class="button-row" style="justify-content: center;">
            <a href="{{ url_for('snapshot') }}">
              <button class="primary">Back to Snapshot Page</button>
            </a>

            <a href="{{ url_for('comparison') }}">
                <button class="primary">Compare</button>
            </a>
        </div>

    
    </div>
  </div>
</body>
</html>